/* ContactList.css */
.contact-list {
    list-style: none;
    padding: 0;
}

:root {
    --background: #7abae4;
    --grey: #9b9ba4;
    --darkshade: #2c0c3a;
    --white: #ffffff;
    --black: #000000;
    --white-shadow: 0px 0px 13px 5px rgba(173, 182, 225, 0.25);
}